<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('DSR')" data-ng-class="{active: currency.symbol == 'DSR'}">DSR</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mDSR')" data-ng-class="{active: currency.symbol == 'mDSR'}">mDSR</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uDSR')" data-ng-class="{active: currency.symbol == 'uDSR'}">uDSR</a>
  </li>
</ul>

